<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Alta de cliente</ion-title>

    <ion-buttons slot="end">
      <ion-back-button default-href="#" title="Back to home"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>

  
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">new-client</ion-title>
    </ion-toolbar>
  </ion-header>


  <div class="container mt-4">
    <h1>Nuevo Cliente</h1>
    <span style="color: red;">{{mensajeValidacion}}</span>
    <input class="form-control mb-2" [(ngModel)]="client.name" placeholder="Nombre">
    <input class="form-control mb-2" [(ngModel)]="client.email" placeholder="Email" type="email">
    <input class="form-control mb-2" [(ngModel)]="client.phone" placeholder="Teléfono">
    <button class="btn btn-primary mb-3" (click)="save()">Guardar</button>
  </div>


</ion-content>
